<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <!-- FAVICON -->
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <!-- HEADER -->
            <header>
                <div class="header-left">
                    <h1>Boolflix</h1>
                </div>
                <div class="header-right">
                    <input v-model="filterTitle" @keyup.enter="search" type="text" placeholder="Search here">
                    <button type="button" name="button" @click="search">Search</button>
                </div>
            </header>
            <!-- MAIN -->
            <main>
                <div class="testo-container">
                    <h2 v-if="ricerca_in_corso">
                        Loading...
                    </h2>
                    <h2 v-else-if="testo_titolo && allresults.length">
                        Search Results for: {{ testo_titolo }}
                    </h2>
                    <h2 v-else-if="testo_titolo">
                        There are no results that matched your search: {{ testo_titolo }}
                    </h2>
                </div>
                <div class="card-container">
                    <div class="card" v-for="(movie, index) in allresults">
                        <div class="card-inner">
                            <div class="card-front">
                                <img :src="movie.poster_path" :alt="movie.title ? movie.title : movie.name" class="immagine-copertina">
                            </div>
                            <div class="card-back">
                                <h4>
                                    {{movie.title ? movie.title : movie.name}}
                                    <!-- <span class="font-normal">
                                        {{movie.title ? movie.title : movie.name}}
                                    </span> -->
                                </h4>
                                <h5>
                                    Original Title:
                                    <span class="font-normal">
                                        {{movie.original_title ? movie.original_title : movie.original_name}}
                                    </span>
                                </h5>
                                <p v-if="availableFlags.includes(movie.original_language)">
                                    Original Language:
                                    <img :src="'flag/' + movie.original_language + '.png'" :alt="movie.original_language">
                                </p>
                                <p v-else>
                                    Original Language:
                                    <span class="font-normal">
                                        {{ movie.original_language }}
                                    </span>
                                </p>
                                <p v-if="movie.vote_average">
                                    Vote:
                                    <i v-for="i in getFasStar(movie.vote_average)" class="fas fa-star"></i><i v-for="i in 5 - (getFasStar(movie.vote_average))" class="far fa-star"></i>
                                </p>
                                <p v-else>
                                    Vote not available
                                </p>
                                <p v-if="movie.cast.length != ''">
                                    Actors:
                                    <span v-for="(actor,index) in movie.cast" v-if="index < 4">
                                            {{ actor.name }},
                                    </span>
                                    <span v-for="(actor,index) in movie.cast" v-if="index == 4">
                                        {{ actor.name }}.
                                    </span>
                                </p>
                                <p v-else>
                                    Actors not available
                                </p>
                                <p v-if="movie.overview != ''">
                                    Description:
                                    <span class="font-normal">
                                        {{ movie.overview }}
                                    </span>
                                </p>
                                <p v-else>
                                    Description not available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div>
                    Product by Annalisa De Santis @2020
                </div>
            </footer>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
