<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <!-- FAVICON -->
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <div class="comandi">
                <input v-model="filterTitle" type="text" placeholder="Cerca un titolo">
                <button type="button" name="button" @click="search">Search</button>
            </div>
            <div class="container" >
                <ul v-for="movie in movies">
                    <li>
                        Titolo: {{ movie.title }}
                    </li>
                    <li>
                        Titolo in lingua originale: {{ movie.original_title }}
                    </li>
                    <li>
                        Lingua originale:
                        <img :src="movie.original_language" :alt="movie.original_language">
                    </li>
                    <!-- <li v-else>
                        Lingua originale: {{ movie.original_language }}
                    </li> -->
                    <li>
                        Voto: {{ movie.vote_average }}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
