<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <!-- FAVICON -->
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <!-- HEADER -->
            <header>
                <div class="header-left">
                    <h1>Boolflix</h1>
                </div>
                <div class="header-right">
                    <input v-model="filterTitle" @keyup.enter="search" type="text" placeholder="Cerca un titolo">
                    <button type="button" name="button" @click="search">Cerca</button>
                </div>
            </header>
            <!-- MAIN -->
            <main>
                <div class="testo-container">
                    <h2 v-if="ricerca_in_corso">
                        Ricerca in corso...
                    </h2>
                    <h2 v-else-if="testo_titolo && allresults.length">
                        Risultati ricerca per: {{ testo_titolo }}
                    </h2>
                    <h2 v-else-if="testo_titolo">
                        Nessun risultato trovarto per la ricerca: {{ testo_titolo }}
                    </h2>
                </div>
                <div class="card-container">
                    <div class="card" v-for="(movie, index) in allresults">
                        <div class="poster-movie" v-if="index != movieactive" @mouseover="mouseenter(index)">
                            <img :src="movie.poster_path" :alt="movie.title ? movie.title : movie.name" class="immagine-copertina">
                        </div>
                        <div class="info-movie" v-else @mouseleave="mouseleave(index)">
                            <h5>
                                Titolo:
                                <span class="font-normal">
                                    {{movie.title ? movie.title : movie.name}}
                                </span>
                            </h5>
                            <h5>
                                Titolo in lingua originale:
                                <span class="font-normal">
                                    {{movie.original_title ? movie.original_title : movie.original_name}}
                                </span>
                            </h5>
                            <p v-if="availableFlags.includes(movie.original_language)">
                                Lingua originale:
                                <img :src="'flag/' + movie.original_language + '.png'" :alt="movie.original_language">
                            </p>
                            <p v-else>
                                Lingua originale:
                                <span class="font-normal">
                                    {{ movie.original_language }}
                                </span>
                            </p>
                            <p>
                                Voto:
                                <i v-for="i in getFasStar(movie.vote_average)" class="fas fa-star"></i><i v-for="i in 5 - (getFasStar(movie.vote_average))" class="far fa-star"></i>
                            </p>
                            <p v-if="movie.overview != ''">
                                Descrizione:
                                <span class="font-normal">
                                    {{ movie.overview }}
                                </span>
                            </p>
                            <p v-else>
                                Descrizione non disponibile
                            </p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
